@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #01949ACC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #cfe0ea;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todo-wrapper {
  background: #016367;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 6px;
}

.todo-form {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #01949a;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #cfe0ea;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #01949a;
  color: #cfe0ea;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #01949a;
  color: #cfe0ea;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;

  transition: all 0.5s ease;
  opacity: 1;
  transform: translateY(0);
}

.todo.completed, .todo-form.completed {
  opacity: 0.5;
  transform: translateY(10px);
}

.uncompleted {
  color: #cfe0ea;
  cursor: pointer;
}

.completed {
  /*color: #578384;*/
  color: #357c7c;
  /*color: #ff0000;*/
  text-decoration: line-through;
  cursor: pointer;
}

.check-icon,
.edit-icon,
.delete-icon {
  cursor: pointer;
  margin-left: 0.75rem;
}
 